body{
    margin: 0;
    padding: 0;
}

/* -------------
          Header Section
----------- */

.header{
    margin-left: 18%;
    margin-top: 5%;
}
.head-section{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.head-title{
    font-size: 60px;
}
.head-paragrap{
    font-size: 20px;
    padding-bottom: 20px;
}
.main-btn{
    text-decoration: none;
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
    background-color: blue;
    font-size: 20px;
}

/* Brand Logos Section */
.brand-logo{
    margin-top: 8%;
    margin-left: 15%;
    margin-right: 10%;
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
    padding: 10px 10px;
    
}
.logo-box img{
    padding-left: 60px;
    margin: 3px 3px;

}

/* Collection Style */
.collections .collection img{
    width: 300px;
    height: 256px;
}
.section-title{
    padding-top: 5%;
    padding-bottom: 3%;
    text-align: center;
    font-size: 30px;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FB8200;
}
.fa-star.empty{
    color: darkgrey;
}
.collection-price{
    font-size: 30px;
    background-color: blue;
    color: white;
    margin: 8px 8px;
    width: 50px;
    border-radius: 10px;
}

.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    margin-left: 12%;
}
.collection{
    box-shadow: 5px 10px 8px 10px gainsboro;
    border: 8px solid white;
    width: 300px;
     height: 476px;
     border-radius: 8px;
}
.see-more{
    text-align: right;
    border: 1px solid blue;
    padding: 5px 10px;
    width: 100px;
}

/* Last Section */
.last-section{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    padding-bottom: 30px;
}
.about-gear h1{
    font-size: 30px;
    margin-left: 40px;
}
.about-gear p{
    margin-left: 40px;
    font-size: 20px;
}
.second-btn{
    margin-left: 40px;
    margin-top: 20px;
}
.collection-detail{
    padding-left: 8px;
}

/* footer Section */

.footer{
    text-align: center;
    background-color: blue;
    color: white;
    padding-top: 10px;
}
.footer-icon{
    padding: 5px 0px;
}

/*-----------------------------
        Media Queries 
 -------------------------------*/

 /* Mobile Device */
 @media only screen and (max-width:688px) {
    .header{
        text-align: center;
    }
    .head-section{
        flex-direction: column;
        width: 100%;
        margin-left: 10px;
    }
    .first-head-child h1{
         font-size: 40px;
    }
    .second-head-child{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .second-head-child img{
        width: 100%;
    }
    .logo-box img{
        padding: 5px;
        width: 50%;
    }
    .collections{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
    .last-section{
        flex-direction: column;
        padding-top: 20px;
        width: 100%;
    }
    .gear-image img{
        width: 100%;
    }
    .footer{
        width: 100%;
    }
 }